name: PubDocker

on:
  push:
    tags: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Image name
        id: img
        run: |
          NAME=$(grep 'LABEL name' Dockerfile|tail -1|cut -d= -f2|sed 's/"//g')
          VER=$(grep 'LABEL version' Dockerfile|tail -1|cut -d= -f2|sed 's/"//g')
          echo "name=$NAME" >> $GITHUB_OUTPUT
          echo "ver=$VER" >> $GITHUB_OUTPUT
      - name: Build and push version
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ steps.img.outputs.name }}:${{ steps.img.outputs.ver }}
      - name: Build and push latest
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ steps.img.outputs.name }}:latest
